[Desktop Entry]
Name=Xdaliclock
Comment=Marc's favorite clock
Comment[es]=Reloj favorito del Marc
Comment[pl]=Ulubiony zegar Marka
Comment[pt]=Relógio favorito do Marc
Comment[pt_BR]=Relógio favorito do Marc
Icon=xdaliclock
Exec=xdaliclock
Terminal=false
Type=Application
Categories=Utility;Clock;
# vi: encoding=utf-8
